@use '../../../styles/variables' as var;

._GzYRV {
  line-height: 1.2;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro',
    monospace;
  font-size: 14px;
}

._11RoI {
  background: transparent;
}

._2bkNM {
  margin: 0 20px;
  padding: 0;
}

._2bSDX {
  font-weight: bolder;
  margin-right: 5px;
  color: var.$color-res-keys;

  &:first-child {
    color: var.$color-res-key-main;
  }
}

._LaAZe {
  color: rgb(103, 168, 157);
}

._GTKgm {
  color: rgb(129, 181, 172);
}

._Chy1W {
  color: var.$color-res-values-string;
}

._2vRm- {
  color: rgb(174, 129, 255);
}

._2bveF {
  color: var.$color-res-values-number;
}

._1prJR {
  color: rgb(38, 139, 210);
}

._3cpys {
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}

._f10Tu {
  font-size: 1.2em;
  margin-right: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

._gsbQL {
  color: rgb(253, 246, 227);
}

._3eOF8 {
  margin-right: 5px;
  font-weight: bold;
}

._1MFti {
  cursor: pointer;
}
