@use '../../styles/variables' as variables;

.wrapper {
  background-image: url('src/assets/images/background.jpg');
  background-size: cover;
  width: 100%;
  height: calc(100vh - 100px);
  padding-top: 6rem;
}

.form {
  max-width: 600px;
  row-gap: 20px;
  border-radius: 24px;
  font-size: 1.4rem;
  color: variables.$color-primary-beige;
  border: 2px solid variables.$color-bright-orange;
  background-color: variables.$color-primary-brown;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  padding: 3rem 0.5rem;
  .title {
    font-size: 3rem;
    text-align: center;
  }

  .fieldset {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    border-radius: 0.6rem;
    border: none;
    padding: 0;

    .legend {
      padding: 0 10px;
      font-size: 1.1rem;
    }
  }

  p {
    text-align: center;
    padding-bottom: 10px;
  }

  a {
    color: variables.$color-primary-orange;
    text-decoration: none;
  }

  a:hover {
    color: variables.$color-bright-orange;
  }
}
