@use 'src/styles/variables' as variables;
@use 'src/styles/mixins' as mixin;

.wrapper {
  background-color: variables.$color-main-beige;
  width: 100%;
  height: calc(100vh - 100px);
  padding-left: 10px;
  padding-right: 10px;
  @include mixin.responsive('padding-top', 100, 15);
}

.form {
  max-width: 600px;
  row-gap: 20px;
  border-radius: 24px;
  @include mixin.responsive('font-size', 24, 20);
  color: variables.$color-primary-beige;
  border: 2px solid variables.$color-bright-orange;
  background-color: variables.$color-primary-brown;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  padding: 3rem 0.5rem;
  .title {
    text-align: center;
    @include mixin.responsive('font-size', 48, 28);
  }

  .fieldset {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    border-radius: 0.6rem;
    border: none;
    padding: 0;

    .legend {
      padding: 0 10px;
      font-size: 1.1rem;
    }
  }

  p {
    text-align: center;
    padding-bottom: 10px;
  }

  a {
    color: variables.$color-primary-orange;
    text-decoration: none;
  }

  a:hover {
    color: variables.$color-bright-orange;
  }
}
