@use '../../styles/variables' as var;
@use '../../styles/fonts' as font;

.doc {
  max-width: 400px;
  height: calc(100vh - 100px);
  margin: 0 auto;
  padding: 0.5rem 1rem;
  background-color: var.$color-primary-brown;
}
.heading {
  font-family: font.$font-bold;
  font-size: 1.5rem;
  color: var.$color-primary-beige;
  margin-bottom: 1rem;
}
.desc {
  font-family: font.$font-medium;
  font-size: 1rem;
  color: var.$color-primary-beige;
  margin-bottom: 0.3rem;
}
