@mixin responsive($property, $startSize, $minSize) {
  $addSize: $startSize - $minSize;
  #{$property}: $startSize + px;
  @media (max-width: 1920px) {
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / (1920 - 320)));
  }
}

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin media-mini-mobile {
  @media (max-width: 320px) {@content;}
}

@mixin media-mobile {
  @media (min-width: 640px) {@content;}
}

@mixin media-tablet {
  @media (min-width: 960px) {@content;}
}

@mixin media-mini-dekstop {
  @media (min-width: 1280px) {@content;}
}

@mixin media-desktop {
  @media (max-width: 1920px) {@content;}
}


