//COLORS

//background, text
$color-primary-brown: #383732;
$color-primary-beige: #EEE6CC;
$color-primary-orange: #FF9167;

//buttons, switchers, icons, active/inactive elements
$color-bright-orange: #E75B26;
$color-inactive-grey: #9F9989;