//NUMBERS
$border-radius-buttons: 25px;
$border-radius-main: 24px;
$transition: all 0.3s ease;
$z-index-header: 1;

//COLORS

//background, text
$color-primary-brown: #383732;
$color-primary-beige: #eee6cc;
$color-primary-orange: #ff9167;
$color-primary-red: rgb(255, 87, 87);
$color-primary-blue: #123661;
$color-primary-brown-shadow: rgba(59, 38, 18, 0.5);
$color-primary-white: #ffffff;
$color-sticky-header: #969487;

//buttons, switchers, icons, active/inactive elements
$color-bright-orange: #e75b26;
$color-inactive-grey: #9f9989;

//animation
$color-animation-bright: #6c8a7a;
$color-animation-pale: #abebcb;
$color-animation-inside: #dacfab;
$color-animation-message: #930614;

//loader
$color-loader-violet: #ff8df9;
$color-loader-pink: #ff416a;
$color-loader-blue: #00ffff;
$color-loader-yellow: #fcb737;

//main
$color-main-brown: rgba(108, 92, 77);
$color-main-beige: rgba(157, 146, 136);

//docs
$color-doc-blue: #3276ca;
$color-doc-red: #f34141;
$color-doc-orange: #f7a951;
