//COLORS

//background, text
$color-primary-brown: #383732;
$color-primary-beige: #eee6cc;
$color-primary-orange: #ff9167;

//buttons, switchers, icons, active/inactive elements
$color-bright-orange: #e75b26;
$color-inactive-grey: #9f9989;
