@use '../../styles/variables' as variables;

.form {
  max-width: 600px;
  row-gap: 20px;
  border-radius: 24px;
  font-size: 1.4rem;
  color: variables.$color-primary-beige;
  border: 2px solid variables.$color-bright-orange;
  background-color: variables.$color-primary-brown;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  padding: 3rem 1.5rem;

  .title {
    font-size: 3rem;
    text-align: center;
  }

  .fieldset {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    border-radius: 0.6rem;
    border: none;

    .legend {
      padding: 0 10px;
      font-size: 1.1rem;
    }
  }

  .link {
    text-align: center;
    padding-bottom: 10px;
  }

  a {
    color: variables.$color-primary-orange;
    text-decoration: none;
  }
}
