@use '../../styles/variables';

.header {
  &__nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    color: variables.$color-primary-beige;
    width: fit-content;
  }
}